.page-vulnerabilities
  section
    page-header(title="Vulnerabilities", icon="fa-stethoscope")

  .table-header
    table-filters
      search-box(ng-show="selectedView === views.package", placeholder="{{'Search Packages' | translate}}",
                 on-search='search(model)')
      search-box(ng-show="selectedView === views.rhsa", placeholder="{{'Search RHSAs' | translate}}",
                 on-search='search(model)')
      search-box(ng-show="selectedView === views.cve", placeholder="{{'Search CVEs' | translate}}",
                 on-search='search(model)')

    .view-switcher
      b View by:
      a.active(ng-click="changeView(views.package)",
        ng-class="{active: selectedView === views.package}") {{:: views.package }}
      a(ng-click="changeView(views.rhsa)",
        ng-class="{active: selectedView === views.rhsa}") {{:: views.rhsa }}
      a(ng-click="changeView(views.cve)",
        ng-class="{active: selectedView === views.cve}") {{:: views.cve }}

  // TODO make embedded card a component
  .content-wrap
      .vulnerabilities-package-view(ng-if="!loading && selectedView === views.package")
        table
          thead
            tr
              th.fit-content.nowrap.sortable(ng-class="sorter.predicate | sortClass:'toString':sorter.reverse",
                ng-click="sort('toString')", translate) Package Name
              th.text-center.fit-content.min.nowrap.sortable(translate) Systems
              th.text-center.fit-content.min.nowrap.sortable(translate) RHSAs
              th.text-center.fit-content.min.nowrap.sortable(translate) CVEs
              th.text-center.fit-content.min.nowrap.sortable(translate) Release Date
          tbody
            tr(ng-repeat='vulnerability in vulnerabilities track by vulnerability.id')
              td.fit-content.nowrap
                a(ui-sref='app.vulnerabilities-package({package_id: vulnerability.id})') {{:: vulnerability.name}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.systems_affected}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.rhsa_count}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.cve_count}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.release_date}}
      .vulnerabilities-rhsa-view(ng-if="!loading && selectedView === views.rhsa")
        table
          thead
            tr
              th.fit-content.nowrap.sortable(ng-class="sorter.predicate | sortClass:'toString':sorter.reverse",
                ng-click="sort('toString')", translate) RHSA Name
              th.text-center.fit-content.min.nowrap.sortable(translate) Systems
              th.text-center.fit-content.min.nowrap.sortable(translate) Packages
              th.text-center.fit-content.min.nowrap.sortable(translate) CVEs
              th.text-center.fit-content.min.nowrap.sortable(translate) Release Date
          tbody
            tr(ng-repeat='vulnerability in vulnerabilities track by vulnerability.id')
              td.fit-content.nowrap
                a(ui-sref='app.vulnerabilities-rhsa({rhsa_id: vulnerability.id})') {{:: vulnerability.id}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.systems_affected}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.package_count}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.cve_count}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.issued}}
      .vulnerabilities-cve-view(ng-if="!loading && selectedView === views.cve")
        table
          thead
            tr
              th.fit-content.nowrap.sortable(ng-class="sorter.predicate | sortClass:'toString':sorter.reverse",
                ng-click="sort('toString')", translate) CVE Name
              th.text-center.fit-content.min.nowrap.sortable(translate) Systems
              th.text-center.fit-content.min.nowrap.sortable(translate) Packages
              th.text-center.fit-content.min.nowrap.sortable(translate) RHSAs
              th.text-center.fit-content.min.nowrap.sortable(translate) Release Date
          tbody
            tr(ng-repeat='vulnerability in vulnerabilities track by vulnerability.id')
              td.fit-content.nowrap
                a {{:: vulnerability.id}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.systems_affected}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.package_count}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.rhsa_count}}
              td.text-center.fit-content.nowrap
                span {{:: vulnerability.public_date}}