.page-vulnerabilities-rhsa(ng-if='!loading')
  section.vulnerability-details-header
    page-header(title="{{:: rhsa.id}}", subtitle="pageHeaderSubtitle")
    .page-header-aside.icon-inline.severity(ng-class="{{'rhsa.severity'}}")
      i.fa.fa-shield
      span {{:: rhsa.severity}}
    .description
      .header-sm Description
      span {{:: rhsa.description}}
    .description-aside
      .header-sm Affected Products
      ul.affected-product-list
        li.affected-product(ng-repeat="product in rhsa.affected_products") {{:: product}}

  .vulnerability-tables
    .primary
      table
        thead
          tr
            th.min
              md-checkbox.md-accent.md-hue-1.md-checkbox-list(
                tooltip='Select All',
                type="checkbox",
                aria-label='Select All Systems Checkbox',
                md-indeterminate="checkboxes.indeterminate",
                ng-model='checkboxes.checked',
                ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, rhsa.systems)')
            th.min.sortable(translate) Type
            th.sortable(translate) Name
            th.min.sortable(translate) Last Check In

        tbody
          tr(ng-click='checkboxes.rowClick($event, system.system_id)',
             ng-mousedown='checkboxes.rowClick($event, system.system_id)',
             ng-class="{'stale': !system.isCheckingIn}",
             ng-repeat='system in rhsa.systems track by system.system_id',
             data-id="{{:: system.system_id}}")
            td.min
              md-checkbox.md-accent.md-hue-1.md-checkbox-list(
                type='checkbox',
                aria-label='Select System Checkbox',
                ng-model='checkboxes.items[system.system_id]',
                ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();',
              )
            td.fit-content
              type-icon(type-id='system.system_type_id', include-text='true')
            td.break
              a(ng-click='showSystem(system)') {{:: system.toString }}
            td.fit-content {{:: system.last_check_in | timeAgo}}
    .secondary
      table
          thead
            tr
              th.fit-content.nowrap.sortable Related Packages
          tbody
            tr
              td.fit-content.nowrap
                span test

  section.content-wrap
